body {
	background-image: url("./assets/images/rockerBackgroun.jpg");
	color: red;
	font-family: "New Rocker";
	font-size: 25px;
}

.jumbotron {
	background-image: url("./assets/images/guitar.jpg");
}